a:hover {
	color: #ec6801;
	text-decoration: none;
	cursor: pointer;
}

a:visited {
	color: #83006f;
	text-decoration: none;
}

#gallery {
	width: 1000px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#leftPanel {
	width: 160px;
	float: left;
}

#rightPanel {
	width: 840px;
	float: left;
}

#sortWrapper {
	width: 840px;
	margin: 0 auto;
	margin-top: 10px;
	clear: both;
}

.gallery-sort-tab a {
	color: #006400;
	text-decoration: none;
}

.gallery-sort-tab a:hover {
	color: #ec6801;
	text-decoration: none;
}

.gallery-sort-tab a.more {
	font-size: 13px;
	float: right;
	margin-right: 10px;
}

.gallery-sort-tab {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(196, 229, 193)
		), to(rgb(176, 206, 173) ) );
	background-image: -webkit-linear-gradient(top, rgb(196, 229, 193),
		rgb(176, 206, 173) );
	background-image: -moz-linear-gradient(top, rgb(196, 229, 193),
		rgb(176, 206, 173) );
	background-image: -o-linear-gradient(top, rgb(196, 229, 193),
		rgb(176, 206, 173) );
	background-image: -ms-linear-gradient(top, rgb(196, 229, 193),
		rgb(176, 206, 173) );
	background-image: linear-gradient(top, rgb(196, 229, 193),
		rgb(176, 206, 173) );
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-indent: 10px;
}

.gallery-sort-list {
	position: relative;
}

.gallery-sort-list ul li {
	width: 160px;
	height: 120px;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	text-align: center;
}

.gallery-sort-list a {
	text-decoration: none;
	color: #000;
}

.gallery-sort-list ul li a img {
	width: 130px;
	height: 90px;
	margin: 0 auto;
	display: block;
}

.gallery-sort-list ul li a h5 {
	margin: 3px auto;
	font-size: 12px;
	font-weight: normal;
}

.gallery-sort-list ul li a:hover {
	color: #ec6801;
}

/*************picture scroll *******************/
#focus {
	position: relative;
	width: 1000px;
	height: 600px;
	overflow: hidden;
	margin: 10px auto;
}

#focus ul {
	height: 600px;
	position: absolute;
}

#focus ul li {
	float: left;
	width: 1000px;
	height: 600px;
	overflow: hidden;
	position: relative;
	background: #000;
}

#focus ul li div {
	position: absolute;
	overflow: hidden;
}

#focus .btnBg {
	position: absolute;
	width: 1000px;
	height: 40px;
	left: 0;
	bottom: 0;
	background: #000;
}

#focus .button {
	position: absolute;
	height: 30px;
	left: 10px;
	bottom: 4px;
}

#focus .button span {
	float: left;
	display: inline-block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	margin-right: 10px;
	cursor: pointer;
	background: #716564;
	color: #ffffff;
	/* 	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px; */
	font-family: Arial;
}

#focus .button span a {
	text-decoration: none;
	color: #fff;
}

#focus .button span.on {
	background: #B91919;
	color: #ffffff;
}