@CHARSET "UTF-8";

dd {
	-webkit-margin-start: 0;
}

dl {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

a {
	text-decoration: none;
}

a:hover {
	color: #ec6801;
	cursor: pointer;
}

.jobList .title {
	width: 100%;
	border: 1px solid #c4e5c1;
	font-size: 13px;
}

.fl {
	float: left;
}

.job-column {
	width: 40%;
}

.company-name {
	width: 30%;
}

.job-position {
	width: 15%;
}

.release-date {
	width: 15%;
}

.job-repeat {
	font-size: 13px;
	vertical-align: middle;
}

.job-repeat dl {
	width: 100%;
	height: 20px;
	line-height: 20px;
	border-bottom: 1px dashed #ccc;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
}

.paging {
	margin-top: 10px;
	text-align: center;
	font-size: 13px;
}

.job-apply {
	margin-top: 10px;
}

.job-apply input {
	width: 80px;
	border: 1px solid #75a960;
	background: #cef791;
	height: 20px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #555555;
	behavior: url(../css/PIE.htc);
}

.job-apply input:hover {
	cursor: pointer;
	background: #eaf7b1;
	color: #000;
}

.job-apply input:active {
	cursor: pointer;
	background: #f8fcf3;
	color: #000;
}